{%extends 'base.html'%}
{%block title%} Voici notre base de donnée {% endblock %}


{%block content%}
<style>
    .list-group-horizontal{
        width: 10000px;
    }
    .list-group-item{
        width: 250px;
    }
</style>

<div class="input-group" style="margin-bottom: 40px;">
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" id="valider">
    <button type="button" class="btn btn-outline-secondary" type="submit" onclick="chercheuse()">Valider</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>


<div class="d-grid gap-2 d-md-block" style="margin-bottom: 20px;">
    <a href='/id' ><button class="btn btn-primary" type="button" style="width: 150px; margin-left: 50px;" value="id" id="floatingSelectGrid1" >Id</button></a>
    <a href='/meta' ><button class="btn btn-primary" type="button" style="width: 150px;"  value="meta" name="meta" >Métadonnées</button></a>
    <a href='/com' ><button class="btn btn-primary" type="button" style="width: 150px;"  value="commentaire" name="com" >Commentaires</button></a>
    <a href='/analyse' ><button class="btn btn-primary" type="button" style="width: 150px;"  value="commentaire" name="com" >Analyse</button></a>
    <a href='/link' ><button class="btn btn-primary" type="button" style="width: 150px;"  value="commentaire" name="com" >Link</button></a>
</div>



<div style=" margin-left : -190px;">
<ul class="list-group list-group-horizontal">
    {% for j in range(n1) %}
    <li class="list-group-item list-group-item-dark">{{liste1[j]}}</li>
    {% endfor %}
</ul>

{% for k in range(n) %}

<ul class="list-group list-group-horizontal ">
    {% for j in range(n1) %}
        {% if (k%2==0)%}
            {% if (j==1) %}
                <li class="list-group-item list-group-item-warning thumbnail"> <img src = {{liste[k][20]}} alt = "miniature" width="200" height="170"> </img></li>
            {%else%}       
                <li class="list-group-item list-group-item-warning">{{data[liste1[j]][k]}}</li>
            {% endif %}
        {%else%}
            {% if (j==1) %}
                <li class="list-group-item "> <img src = {{liste[k][20]}} alt = "miniature" width="200" height="170"> </img></li>
            {%else%}  
                <li class="list-group-item ">{{data[liste1[j]][k]}}</li>
            {% endif %}
        {% endif %}
        {% endfor %}
        
        {% if (k%2==0)%}
            <li class="list-group-item list-group-item-warning"><li class="breadcrumb-item" style="margin-left: -162px ; position: relative;" > <a href="{{ url_for('page_detail',vari= data[liste1[0]][k])}}">Voir plus</a>  </li></li>
        {%else%}
            <li class="list-group-item "><li class="breadcrumb-item" style="margin-left: -162px ; position: relative;" > <a href="{{ url_for('page_detail',vari= data[liste1[0]][k])}}">Voir plus</a>  </li></li>
        {% endif %}
</ul>
{% endfor %}
</div>

<script type="text/javascript">
    
    function chercheuse(){
        let valider = document.getElementById('valider').value;
        window.location.href = "/requete/"+ valider;
    }

</script>

{% endblock %}